# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS specific files
.DS_Store
Thumbs.db
Desktop.ini
